
services:
  api:
    build: .
    container_name: notes-backend
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env
    depends_on:
      - redis
    restart: always
  redis:
    image: "redis:7-alpine"
    container_name: notes-redis
    restart: always